<header id="header">
    <a class="home-link" href="/">
      <img class="logo" src="http://boldlist.net/img/hacker-news-logo.jpg">
    </a>
    <div class="header-text">
      <div class="left">
        <h1 class="name">
          <a href="/">Hacker News</a>
        </h1>
        <span class="header-nav">
          <a href="/newest/1">new</a>
          <span class="divider">
            |
          </span>
          <a href="/show/1">show</a>
          <span class="divider">
            |
          </span>
          <a href="/ask/1">ask</a>
          <span class="divider">
            |
          </span>
          <a href="/jobs/1">jobs</a>
        </span>
      </div>
      <div class="info">
        Built with aNgUlAr
      </div>
    </div>
  </header>